* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5vh 2%;
  background-color: #3c8bb4;
}

main {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
}

.card {
  width: 7.2%;
  height: 150px;
  -webkit-perspective: 1000;
  perspective: 1000;
}

.card:hover {
  cursor: pointer;
}

.card.flipped .flipper {
  transform: rotateY(180deg);
  cursor: pointer;
}

.flipper {
  position: relative;
  transition: transform .5s;
  transform-style: preserve-3d;
}

.flipper .front,
.flipper .back {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 90px;
  border-radius: 10px;
}

.back {
  color: #ddfffd;
  z-index: 2;
  background-color: #51c4bd;
}

.front {
  color: #51c4bd;
  z-index: 1;
  background-color: #eee;
  transform: rotateY(180deg);
}

.hidden {
  visibility: hidden;
}

aside {
  width: 18%;
  margin: 0 0 0 2%;
}

.btn-restart {
  width: 100%;
  color: #ddfffd;
  background-color: #51c4bd;
  border: 2px solid #67dbd7;
  outline: none;
  border-radius: 20px;
  font-size: 30px;
  font-weight: bold;
  padding: 20px 50px;
  cursor: pointer;
  transition-duration: .2s;
}

.btn-restart:hover {
  border: 2px solid #72e5e1;
  background-color: #3baaa7;
}

.layout-setting {
  display: flex;
  flex-wrap: wrap;
  margin-top: 35px;
  width: 100%;
  background-color: #51c4bd;
  border: 2px solid #67dbd7;
  border-radius: 20px;
  padding: 15px 0 15px 25px;
}

.layout-setting li {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.layout-setting label {
  font-size: 25px;
  font-weight: bold;
  color: #eee;
  margin-left: 3px;
}

.player-panel {
  background-color: #4093bf;
  margin-top: 50px;
  border-radius: 20px;
}

.player-setting {
  display: flex;
  justify-content: center;
  padding: 30px;
  border-bottom: 2px solid #3c8bb4;
}

.player-setting > li {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.player-setting label {
  font-size: 15px;
  font-weight: bold;
  color: #eee;
  margin-left: 3px;
}

.player-setting input[type="radio"],
.layout-setting input[type="radio"] {
  width: 15px;
  height: 15px;
}

.score-board {
  padding: 30px;
}

.score-board > li {
  margin: 0 0 30px;
  opacity: .5;
  transition: all .3s;
}

.score-board > li.active {
  opacity: 1;
}

.score-board > li:last-child {
  margin: 0;
}

.player-name {
  display: block;
  font-size: 25px;
  font-weight: bold;
  color: #eee;
  padding-bottom: 15px;
  text-align: center;
}

.score {
  background-color: #eee;
  color: #51c4bd;
  padding: 20px;
  border-radius: 20px;
  font-size: 25px;
  text-align: center;
}

.score b {
  display: inline-block;
  font-weight: bold;
}
